.venv/
__pycache__/
*.pyc

service_account.json
.env

.DS_Store
Thumbs.db

# csv files
simplyhired_cleaned_final.csv
simplyhired_jobs_combined.csv
simplyhired_final_cleaned.csv
.~lock.simplyhired_final_cleaned.csv#
simplyhired_final_cleaned_backup.csv